.speech-bubble {
	position: absolute;
	width: 80%;
	margin: 0 auto;
	bottom: 50px;
	right: 10px;
	left: 10px;
    min-height: 20%;
	background: #004431;
	color: #0f4;
	font-size: 28px;
    border-radius: .4em;
	padding: 20px;
    display: none;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: #004431;
	border-bottom: 0;
	border-left: 0;
	margin-left: -50px;
	margin-bottom: -50px;
}

#arjsDebugUIContainer {
    display: none;
}

.a-enter-vr {
	display: none;
}
